<!-- Application footer -->
<div class="mcloud-footer">
    <div class="footer-content">
        <!--<div class="footer-logo">
            <a href="http://www.snf.ch/en/" target="_blank" title="Swiss National Science Foundation">
                <img src="/static/images/snsf.png" alt="Fonds National Suisse">
            </a>
        </div>
        <div class="footer-caption">
            The National Centres of Competence in Research (NCCR) are a research instrument of the Swiss National Science Foundation
        </div>-->
    </div>
</div>
<!-- End of footer -->
